.extras{
    padding-top: 5rem;
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}

.sub-title{
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.expenses-list{
    list-style: none;
    font-weight: 700;
    font-size: 1.75rem;
    margin-top: 0.325rem
}

.expense-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expense-category{
    height: 2rem;
    width: 2rem;
    margin-right: 12px;
}

.expense-sum{
    font-size: 2rem;
    margin: 0;
    margin-left: 12px;
}